# IDEs
.idea/
.vscode/

# Claude Code
.claude
*/.claude/

# PyCache
__pycache__

# Traning data generated
training_data/

# Calib data
hailo/calib_data/
hailo/calib_data_*/
hailo/calib_output/
hailo/calib_output_*/

# Auto Annotator data
auto-annotator/backend/data/labels/
auto-annotator/backend/data/pending/

# Auto Annotator models
auto-annotator/backend/models/

# Auto Annotator database
auto-annotator/backend/data/manifest.db
auto-annotator/backend/data/manifest.db-shm
auto-annotator/backend/data/manifest.db-wal

# Simulation train report
platform/simulation/scripts/train_report.md

# Simulation Backend Telemtry Sessions
platform/backend/telemetry_sessions/

# Environment variables
.env
**/*/.env
*/.env
