<?xml version="1.0"?>
<model>
  <name>Traffic Pillar</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>TeamSteelBot</name>
    <email>info@teamsteelbot.com</email>
  </author>
  <description>
    A cylindrical traffic pillar for WRO Future Engineers challenges.
    Can be colored red, green, or blue for traffic sign simulation.
  </description>
</model>
