<?xml version="1.0"?>
<model>
  <name>Obstacle Block</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>TeamSteelBot</name>
    <email>info@teamsteelbot.com</email>
  </author>
  <description>
    A movable obstacle block for WRO Future Engineers obstacle challenge.
  </description>
</model>
